In [1]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

pd.options.display.max_columns = 999
pd.options.display.max_rows = 999
pd.options.display.max_colwidth = 100

# import yaml

## Manipulate Data from SEADE

In [9]:
var = pd.read_csv('../data/variaveis_selected.csv')
mask = (var['tipo']=='agro') | (var['variavel'].str.contains('Série interrompida'))
var  = var[np.logical_not(mask)]

In [10]:
def split_data(df):
    df['ano'] = df['ano'].str.replace("'","").str.replace("{","").str.replace("}","").apply(lambda x: x.split(":"))    
    df['valor']  = df['ano'].apply(lambda x: x[1])
    df['ano']  = df['ano'].apply(lambda x: x[0])
    df['valor'] = df['valor'].str.replace('.','').str.replace(',','.')
    
    return(df)

In [22]:
df = pd.read_csv('../data/dados_consolidados.csv')
mask = df['variavel']!='missing'
df = df[mask]

ddf = split_data(df)
dd = ddf.sort_values(by=['codigo_localidade','periodo','nome_localidade_pai','year'], ascending=False).drop_duplicates(['localidade','variavel'],keep='first').sort_values(by='variavel')

dh = ddf.sort_values(by=['codigo_localidade','periodo','nome_localidade_pai','year'], ascending=False).sort_values(by=['variavel','ano'])

/home/m/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,3,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
dd = dd.merge(var,on='variavel', how='inner')

dd['codigo_localidade'] = dd['codigo_localidade'].astype(int) 
dd = dd.sort_values(by=['variavel','codigo_localidade'])

cols = ['codigo_localidade','nome_localidade_pai','codigo_variavel','loc','year']
dd = dd.drop(cols,1)


dd = dd.merge(var,on='variavel', how='inner')

dd['codigo_localidade'] = dd['codigo_localidade'].astype(int) 
dd = dd.sort_values(by=['variavel','codigo_localidade'])

cols = ['codigo_localidade','nome_localidade_pai','codigo_variavel','loc','year']
dd = dd.drop(cols,1)

In [24]:
# dd.to_excel('../data/cleaned_data.xlsx', index=False)

In [25]:
dd.head()

,localidade,variavel,unidade,periodo,ano,valor,tipo,portal
8,Aparecida,Alunos que Atingiram o Nível Abaixo do Básico na Prova Brasil em Língua Portuguesa (5º ano) - Re...,(Em %),2007/2009/2011/2013/2015,2015,-,educacao,NaN
5,Caçapava,Alunos que Atingiram o Nível Abaixo do Básico na Prova Brasil em Língua Portuguesa (5º ano) - Re...,(Em %),2007/2009/2011/2013/2015,2015,-,educacao,NaN
3,Cruzeiro,Alunos que Atingiram o Nível Abaixo do Básico na Prova Brasil em Língua Portuguesa (5º ano) - Re...,(Em %),2007/2009/2011/2013/2015,2015,-,educacao,NaN
6,Cunha,Alunos que Atingiram o Nível Abaixo do Básico na Prova Brasil em Língua Portuguesa (5º ano) - Re...,(Em %),2007/2009/2011/2013/2015,2015,12.30,educacao,NaN
0,Guaratinguetá,Alunos que Atingiram o Nível Abaixo do Básico na Prova Brasil em Língua Portuguesa (5º ano) - Re...,(Em %),2007/2009/2011/2013/2015,2015,-,educacao,NaN

## Educacao
 - [QEdu](https://www.qedu.org.br/) 
 - [Dados Abertos da Educação de SP](https://dados.educacao.sp.gov.br/search/type/dataset)
 - [INEP - Microdados](http://portal.inep.gov.br/microdados#)
 - [IDEB](http://portal.inep.gov.br/web/guest/educacao-basica/ideb/resultados)
 - [Censo Escolar - BI](https://inepdata.inep.gov.br/analytics/saw.dll?Portal&PortalPath=%2Fshared%2FEduca%C3%A7%C3%A3o%20B%C3%A1sica%20-%20Acesso%20Externo%2FArquivos%2FCenso%2FConsolidado%2FInforma%C3%A7%C3%B5es%20Consolidadas%2FFun%C3%A7%C3%B5es%20Docentes%2FPanorama%20deFun%C3%A7%C3%B5es%20Docentes%20na%20Educa%C3%A7%C3%A3o%20B%C3%A1sica)

In [32]:
mask = (dd['portal']==1) & (dd['variavel'].str.contains('IDESP'))
ideb_idesp = dd[mask]

# mask = ideb_idesp['localidade']=='Taubaté'
# ideb_idesp[mask].head()

In [33]:
ideb_idesp

Empty DataFrame
Columns: [localidade, variavel, unidade, periodo, ano, valor, tipo, portal]
Index: []